@use '../util' as u;


.dashboard {
  padding-block: u.rem(16);

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: u.rem(16);
    padding-block: u.rem(10);
  }

  &__tools {
    padding-block: u.rem(32);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: u.rem(24);
  }
}