@use '../util/' as u;

.header {
  background-color: var(--white);
  box-shadow: 0px 2px 2px -2px #808080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  z-index: 3;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__logo {
    max-width: u.rem(100);

    img {
      display: block;
    }
  }

}

.lang {

  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 15px;
  }

  &__link {
    text-decoration: none;
    color: var(--blue);
    position: relative;
    text-transform: uppercase;


    &.active {
      transition: all 0.3s ease;
      font-weight: 500;

      &::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: var(--redHover);
        bottom: 0;
        right: 0;
        top: 20px;
      }
    }
  }
}