@use '../util' as u;


.filter {
  margin-block: u.rem(25);
  align-self: stretch;

  &-form {
    display: flex;
    flex-direction: column;
    gap: u.rem(20);
    height: 100%;


    .btn {
      align-self: flex-end;
    }
  }

  &-fields {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: u.rem(20);
    max-width: u.rem(850);
    width: 100%;
  }

  &-actions {
    background-color: var(--sand);
  }
}