@use '../util' as u;


.filter {
  margin-block: u.rem(25);
  align-self: stretch;

  &-form {
    display: flex;
    flex-direction: column;
    gap: u.rem(20);
    height: 100%;


    .btn {
      align-self: flex-end;
    }
  }

  &-fields {
    display: flex;
    max-width: u.rem(850);
    gap: u.rem(20);
    width: 100%;
    flex-wrap: wrap;
  }
}